body {
  background: #f9fafc;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  padding: 8px;
  right: 100px;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

#logo {
  display: flex;
  flex-direction: column;
  color: black;
}
.navbar {
  display: flex;
  align-items: right;
}

a {
  color: #69696a;
  text-decoration: none;
  justify-content: right;
}

button {
  background-color: black;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 25px;
}

p {
  border-left-style: solid;
  border-color: #69696a;
  color: #69696a;
  padding: 10px;
}

.scrolldown {
  background-color: black;
  color: #fff;
  width: 125px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 50px;
  }

  a {
    padding-left: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .circle1 {
    position: absolute;
    right: 100px;
    top: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .circle2 {
    position: absolute;
    right: 50px;
    top: 225px;
    background-color: rgba(207, 130, 213, 0.6);
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .circle3 {
    position: absolute;
    right: 50px;
    top: 300px;
    background-color: rgba(247, 193, 162, 0.7);
    width: 133px;
    height: 133px;
    border-radius: 100%;
  }

  .scrolldown {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
